<h1><%= @category.title %>'s</h1>

<div class="row">
  <% @category.shops.each do |shop| %>
    <div class="col-xs-6 col-md-3">
      <div class="card border-secondary mb-3">
        <%= image_tag(shop.image.url(:medium)) %>
        <div class="card-header">
          <h4><%= link_to shop.title.truncate(20, separator: ' '), shop_path(shop) %></h4>
          <% if shop.reviews.exists? %>
          <h4>Avarage rating: <%= "#{'%.01f' % shop.reviews.average(:rating)}" %></h4>
          <h5><%= shop.reviews.count %> reviews.</h5>
          <% else %>
          <h4>No rating yet</h4>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
